<!-- <h1>
	<%= "Welcome #{current_user.username}" %>
</h1>

<h3>
	Account Details
</h3>

<form action="/account" method="POST">
	<input type="text" name="[user]fname" placeholder="First Name"><br>
	<input type="text" name="[user]lname" placeholder="Last Name"><br>
	<input type="text" name="[user]phone" placeholder="Phone Number"><br>
	<input type="text" name="[user]city" placeholder="City"><br>
	<input type="text" name="[user]gender" placeholder="Gender"><br>
	<input type="text" name="[user]birthday" placeholder="Birthday ddmmyyyy"><br>
	<input type="text" name="[user]website" placeholder="Website"><br>
	<input type="text" name="[user]superhero" placeholder="Favorite Superhero or Villain"><br>
	<input type="submit" value="Submit"><br>
</form> -->

<div class="labelStats">
	<div class="labels">
		<p class="indLabel">
			Name:
		</p>

		<p class="indLabel">
			Phone:
		</p>

		<p class="indLabel">
			City:
		</p>

		<p class="indLabel">
			Gender:
		</p>

		<p class="indLabel">
			Birthday:
		</p>

		<p class="indLabel">
			Website:
		</p>

		<p class="indLabel">
			Favorite Superhero or Villain:
		</p>
	</div>

	<div class="stats">
			
			<p class="indStat">
			<%= @user.username %>
			</p>
		
	</div>
</div>


<!-- <form action="/account" method="POST">
	<input type="submit" value="Delete?">
</form>

<form action="/logout" method="POST">
	<input type="submit" value="Zap Out">
</form> 
 -->
<div class="account">
	<h3>
		Account Details
	</h3>


	<form action="/account" method="POST">
		<div class="formLeft">
			<input type="text" name="[user]fname" placeholder="First Name">

			<br>
			
			<input type="text" name="[user]lname" placeholder="Last Name">

			<br>
			
			<input type="text" name="[user]phone" placeholder="Phone Number">

			<br>
			
			<input type="text" name="[user]city" placeholder="City">
		</div>
		
		<div class="formRight">
			<input type="text" name="[user]gender" placeholder="Gender">

			<br>
			
			<input type="text" name="[user]birthday" placeholder="Birthday ddmmyyyy">

			<br>
			
			<input type="text" name="[user]website" placeholder="Website">

			<br>
			
			<input type="text" name="[user]superhero" placeholder="Favorite Superhero or Villain">
		</div>
		
		<input type="submit" value="Submit" class="accSubmit">
		<br>
	</form>

	<form action="/account" method="POST">
		<input type="submit" value="Delete?" class="delAcc">
	</form>
</div> 
