<div class="feedHead">
	<h1>
		<%= "Welcome #{current_user.username}" %>
	</h1>
</div>

<div class="feedForm"
	<form action="/feed" method="POST">
		<div class="feedText">
			<input type="text" name="[post]feed" maxlength="150">
		</div>
		<div class="feedSubmit">
			<input type="submit" value="ZAP it">
		</div>
	</form>
</div>

<% @post.each do |key, value| %>
<p>


<div class="logout">
	<form action="/logout" method="POST">
		<input type="submit" value="Zap Out">
	</form>
</div>

<ul>
	<li>
		
	</li>


</ul>
