<h1>
	<%= "Welcome #{current_user.username}" %>
</h1>

<form action="/feed" method="POST">
	<input type="text" name="[post]post" maxlength="150"><br>
	<input type="submit" value="ZAP it">
</form>


<% current_user.posts.each do |tweet| %>
		<p><%= tweet.post %></p>
<% end %>  
		

<form action="/logout" method="POST">
	<input type="submit" value="Zap Out">
</form>

<ul>
	<li>
		
	</li>


</ul>
