<div class="feedForm">
	<form action="/feed" method="POST">
		<div class="feedPost">
			<textarea name="[post]post" maxlength="150" placeholder="Write your post here"></textarea>
		</div>
		
		<div class="feedSub">
			<input type="submit" value="ZAP IT!">
		</div>
	</form>
</div>


 <% if current_user %>
	<% current_user.posts.each do |tweet| %>
			<!-- create div styled like thought bubble, for reach one it will create one.> -->
			<p>
				<%= tweet.post %>
			</p>
	<% end %> 
<% end %>


