/*i hate tomatoes for perspective thingy*/

body {
	padding: 0;
	margin: 0;
	font-family: 'Bangers', cursive;
	background-image: url('/images/polka.jpg');
	background-repeat: repeat;
	background-size: 350px;
}

.mainHead {
	width: 100%;
	text-align: center;
	margin: 75px auto;
	font-size: 40px;
}

.mainHead h1 {
	color: #DB0001;
	text-shadow: -6px 6px 20px #000000;
}

.weird {
	width: 1340px;
	margin: 0 auto 210px auto;
	height: 1000px;
}

.navBar {
	float: left;
	z-index: -1;
	background-image: url("/images/speech2.png");
	background-repeat: no-repeat;
	background-size: 180px 300px;
	background-position: center;
	padding: 28px;
	margin: 0 auto;
	width: 120px;
	height: 265px;
}

.navBar nav {
	text-align: center;
}

.navBar ul {
	list-style-type: none;
	padding: 0;
	margin-bottom: 0;
}
	
.navBar li {
	margin: 0;
	padding: 0;
}

.navBar a {
	text-decoration: none;
	color: #DB0001;
	font-size: 2em;
	margin: 0;
	padding: 0;
}

.navBar input {
	border: none;
	font-family: 'Bangers', cursive;
	font-size: 2em;
	background-color: #FFFFFF;
	color: #DB0001;
	cursor: pointer;
}



/*.navBar img {
	z-index: -5;
	position: relative;
	top: 0;
	left: 0;
}*/


.navBar input[type="submit"] {

}

/* Layout - Banner across pages >>>>>>>>> Start*/

.speech {
	position: absolute;
	top: 12px;
	width: 97%;
	margin: 0 0 0 38px;
	text-align: center;
	/*height: 951px;*/
	z-index: -5;
}

.speech img {
	width: 478px;
	height: 215px;
	z-index: -4;
	margin: 0 auto ;
}

.head {
	/*max-width: 960px;*/
	margin: 20px auto;
	/*background-color: #FFFF00;*/
	padding-top: 10px;
	text-align: center;
	font-size: 100px;
	z-index: -1
}
/* Layout - Banner across pages >>>>>>>> End */

/* Layout - Banner across pages >>>>>>>> End */
footer {
	position: fixed;
	background: #000000;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
}

.footAll {
	width: 180px;
	margin: 0 auto;
	height: 180px;
}

.footerUL {
	float: left;
	margin: 10px auto;
	/*width: 100%;*/
	font-size: 2em;
}

.footerUL ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footerUL a {
	color: #EDEF34;
	text-decoration: none;
}

.footLog {
	border: none;
  font-family: 'Bangers', cursive;
  font-size: 1em;
  background-color: #000000;
  color: #EDEF34;
}

.icon {
	/*float: left;*/
	width: 44px;
	height: auto;
	border-radius: 10px;
	margin: 5px;
}

/*.icons img {
	float: left;
	width: 20px;
	height:auto;

}*/
/* Layout - Banner across pages >>>>>>>> End */

/* Home - Sign-in & Sign-up forms >>>> Start */

.head h1 {
	font-size: 165px;
	margin: 0	 auto;
	padding: 0;
	color: #DB0001;
  text-shadow: -6px 6px 20px #000000
}

.homeForms {
	padding: 2px;
	max-width: 468px;
	width: 468px;
	margin: 15px auto;
	border: 2px solid black;
	height: 288px;
	background-color: #FFFFFF;
	text-align: center;
	z-index: -10;
	box-shadow: 0px 8px 28px 0px;
	/*float: left;*/
}

.login {
	float: left;
	background-color: #FFFFFF;
	padding: 2px; 
}

.zapHead {
	/*float: left;*/
	border: 2px solid black;
	background-color: #EDEF34;
	padding: 1px;
	margin: 2px auto;
}

.homeForms h2 {
	/*width: 92px;*/
	display: inline-block;
	font-size: 4em;
	margin: 0 auto;
	padding: 0;
	color: #E12422;
}

.inFull {
	/*border: 2px solid black;*/
	background-color: #FFFFFF;
	width: 230px;
	float: left;
	height:	200px;
	margin: 2px 0;
}

.logForm {
	border: 2px solid black;
	background: #FFFFFF;
	margin: 0;
	height: 140px;
}

.homeForms input {
	margin: 10px auto;
	font-size: 1em;
}

.logSubmit {
	border: 2px solid black;
	background-color: #FFFFFF;
	width: 226px;
	margin: 2px 0;
}

input.submit {
	font-size: 3em;
	background-color: #E12422;
	font-family: 'Bangers', cursive;
	width: 100%;
	margin: 0;
	border: 0;
	color: #EDEF34;
}

.signUp {
	height: 266px;
	float: left;
	padding: 2px;
}

.zapUp {
	/*float: left;*/
	border: 2px solid	black;
	background-color: #FFFFFF;
	padding: 1px;
	margin: 2px auto;
}

.upFull {
	/*border: 2px solid black;*/
	background-color: #FFFFFF;
	width: 230px;
	float: left;
	height:	152px;
	margin: 0;	
}

.signForm {
	border: 2px solid black;
	background: #FFFFFF;
	margin: 2px auto;	
	height: 140px;
}

.signSubmit {
	border: 2px solid black;
	background-color: #0000FF;
	width: 226px;
	margin: 2px auto;	
}

.bats {
	float: left;
	width: 180px;
	margin: 0 273px;
}

.doom {
	float: left;
	width: 310px;
	margin: 0 186px;
}
/* Home - Sign-in & Sign-up forms >>>> Start */

/* Account >>>>>>>>>>>>>>>>>>>>>>>>>>> Start */
.account {
	width: 962px;
	text-align: center;
	border: 2px solid black;
	margin: 0 auto;
	background-color: #FFFFFF;
	box-shadow:  0px 8px 28px 0px;
	height: 328px;
}

.account h3 {
	border: 2px solid black;
	margin: 2px;
	background-color: #FFFFFF;
	font-size: 3em;
	background-color: #EDEF34;
}


.formLeft {
	float: left;
	width: 476px;
	border: 2px solid black;
	margin: 0 2px 2px 2px;
}

.formRight {
	float: left;
	border: 2px solid black;
	margin: 0 0 2px 0;
}

.account input[type="text"]{
	font-size: 1em;
	margin: 10px 10px;
	width: 443px
}

.accSubmit {
	border: 2px solid black;
	font-family: 'Bangers', cursive;
	font-size: 4em;
	background-color: #FFFFFF;
	color: #000000;
	margin: 0 2px 36px 2px;
	padding: 6px 397px;
	background-color: #DB0001;
}

.delAcc {
	border: 2px solid black;
	font-family: 'Bangers', cursive;
	font-size: 2em;
	background-color: #FFFFFF;
	color: #DB0001;
	box-shadow: 0px 8px 28px 0px #000000;
}

/* Account >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> End*/



/* Feed >>>>>>>>>>>>>>>>>>>>>>> Start */

.feedForm {
	width: 962px;
	margin: 10px auto;
	border: 2px solid black;
	background-color: #FFFFFF;
	height: 58px;
	box-shadow: 0px 8px 28px 0px #000000;
}

.feedPost {
	width: 500px;
	margin: 2px;
	border: 2px solid black;
	float: left;
	background-color: #FFFFFF;
	height: 50px;
}

.feedPost textarea {
	width: 490px;
	margin: 2px;
	resize: none;
	height: 39px;
}

.feedSub {
	width: 450px;
	float: left;
	margin: 2px 2px 2px 0;
}

.feedSub input[type="submit"] {
	width: 450px;
	height: 54px;
	margin: 0 2px 0 0;
	border: 2px solid black;
	background-color: #DB0001;
	font-family: 'Bangers', cursive;
	font-size: 3em;
	padding: 2px;
	color: #EDEF34;
}

.posts {
	width: 1012px;
	margin: 0 auto;
}

.singleThought {
	background-image: url('/images/speech2.png');
	background-repeat: no-repeat;
	width: 500px;
	height: 200px;
	margin: 0 auto;
	background-position: center;
	background-size: 500px 200px;
	text-align: center;
	float: left;
}

.thought {
	padding: 58px 132px;
	padding: 25px 40px 0px 53px;
	font-size: 20px;
	width: 392px;
	height: 65px;
}

p.thoughtID {
	margin: 0;
	color: #DB0001;
}
/* Feed >>>>>>>>>>>>>>>>>>>>>>>>> End */



/* Profile >>>>>>>>>>>>>>>>>>>> Start */



/* Profile >>>>>>>>>>>>>>>>>>>>>> End */
